*{
	box-sizing: border-box;
}
body {
	background-color: #e6f2ff;

}
a{
	cursor: pointer;
	color: inherit;
	text-decoration: inherit;
}
/* HEADER */
nav{
	width: 100%;
}

h1 {/*Name*/
	font-size: 2.5em;
	font-family: 'Yellowtail', cursive;
	margin: 0;
	padding: 0;
	position: relative;
	animation-name: title;
	animation-duration: 10s;

}
@keyframes title {
	0% {color: white; left: 0px; top: 0px;}
	25% {color: #b3e6ff; }
	50% {color: #0066cc; }
	75% {color:  grey; }
	100%{color: white;}


}


#BBF{/* Second Title */
	
	font-size:18px;
	font-family: 'Merienda One', cursive;

}


#button-list {
	text-align: center;
	margin-top: 3%;
	margin-bottom: 5px;
	font-size: 1em;
	font-family: 'Pacifico', cursive;

}

li {
	margin-bottom: 10px;
}

#button-list a:hover {
	background-color: #66ccff;
}/* button end */
#button-list a:active {
	color: #4d4dff;
}

#phone-number {
	font-size: 1.5em;
	text-align: center;
	background-color:  #66ccff;
	border: 1.5px solid #404040;
	border-radius: 2px;
	padding: 5px;
	color: white;
}
#phone-link a:visited, a:link, a:hover{

	color: white;
	text-decoration: none;

}

#phone-number2{
	color: white;
	margin-right: 20px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Merienda One', cursive;
		
}
/* end phone number */
 
#navbarSupportedContent{
		border-top: 2px  solid white;
		margin-top: 10px;

	}
	
/******media*****/
@media (max-width: 768px){
	#phone-number2{
		display: none;
	}

 	.container-fluid {
 		display: none;
 	}
 }


@media (min-width: 768px){
	.navbar-expand-md .navbar-collapse, ul {/**** Don't show buttons in nav ****/
	    display: -ms-flexbox!important;
	    display: none!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
	
	#button{
		display: none;
	}
	#phone-number{
		display: none;
	}
	#navbarSupportedContent{
		display: none;
	}

}
@media (min-width: 992px) {
	.navbar-expand-lg .navbar-collapse, ul {/**** Don't show buttons in nav ****/
    display: -ms-flexbox!important;
    display: none!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
	}
}


/******end media*****/

.container-fluid {

	margin-right: 0;
	border:2px solid #404040;
	padding: 10px;
	background-color: white;
}
#a-row{
	padding: 8px;
	text-align: center;

}
#a-row a {


	font-family: 'Merienda One', cursive;
	font-weight: bold;
	font-size: 20px;

	transition: 0.2s;

	overflow: hidden;

	color:#66ccff;
	letter-spacing: 1px;

	text-decoration: none;

	padding: 15px 30px;


}
#a-row a:hover{

	color: white;
	background: #66ccff;
	box-shadow: 0 10px 10px #737373, 0 0 40px  #66ccff, 0 20px 80px #66ccff;

}
#a-row a:active {
	color: #4d4dff;
}

/***** ROOMS *****/
#room{
	text-align: center;
	
}

#roomName{

	font-family: 'Yellowtail', cursive;
	font-size: 45px;

	margin-top: 20px;

	color: black;
}

#desc{
	white-space: pre-line;
	padding: 20px;

	font-family: 'Oswald', sans-serif;
	font-size: 18px;

	line-height: 28px;
}

#photo {
	border: 3px solid black;
	display: block;
  	    width: 100%

}

#container2 {
	margin-top: 20px;
	text-align: center;
	
}

h3{
	font-family: 'Yellowtail', cursive;
}

#cost-section, #amenities-section{
	
	
	font-family: 'Oswald', sans-serif;

	margin-bottom: 15px;
	width: 50%;
    float: left;

}

footer{
	color: white;
	text-align: center;
	background-color: #222;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 0;
	padding-bottom: 10px;
}
@media only screen and (min-width: 992px){
	  main {
	  	padding-top: 10px;
	    max-width: 960px;
	    margin: 0 auto;
	    background-color: #fff;
	}
	body{
		background: url(../img/soft-wallpaper.jpg) fixed;

	}
}


